@using PRN222_Assignment_01.Service
@model PRN222_Assignment_01.Models.SystemAccount;
@inject RoleService roleService;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h1>Details</h1>
@if (TempData["Message"] != null && !string.IsNullOrEmpty(TempData["Message"].ToString()))
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountEmail)
        </dd>
        <dt class = "col-sm-2">
            Role
        </dt>
        <dd class = "col-sm-10">
            @roleService.GetRoleName(Model.AccountRole)
        </dd>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountPassword)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AccountID">Edit</a>
</div>
