@model IEnumerable<PRN222_Assignment_01.Models.Category>

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h1>Category</h1>

<p>
    <a asp-action="Create">Create New Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDesciption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDesciption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategory.CategoryID)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.CategoryID">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.CategoryID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryID" onclick="return confirm('Are you sure delete this category?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
